*,
*::before,
*::after {
    box-sizing: border-box;
}

/* fonts */

@font-face {
    font-family: "Bellota";
    src: url("/fonts/Bellota-Regular.ttf");
}

@font-face {
    font-family: "Gayathri";
    src: url("/fonts/Gayathri-Regular.ttf");
}

@font-face {
    font-family: "LaBelleAurore";
    src: url("/fonts/LaBelleAurore-Regular.ttf");
}

@font-face {
    font-family: "SourceSans";
    src: url("/fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: SourceCode;
    src: url("/fonts/SourceCodePro-Regular.ttf");
}

/* Custom properties */
:root {
    --ff-primary: Gayathri, SourceSans;
    --ff-secondary: Bellota, SourceCode, monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #343434;
    --clr-accent: #03b97c;

    --fs-h1: 3rem;
    --fs-h2: 2.2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: .25em .25em .75em rgba(0, 0, 0, 0.25),
            .125em .125em .25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px){
    :root {
    --fs-h1: 4.5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
    }
}

/* general styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

.logo__h1 {
    margin: .25em;
    padding: 0;
    font-family: LaBelleAurore;
    font-weight: var(--fw-reg);
}

section {
    padding: 5em 2em;
}

nav {
    display: none;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* btns */
.btn {
    display: inline-block;
    padding: .8em 1.5em .25em;
    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: var(--fw-bold);
    letter-spacing: .3em;
    text-transform: uppercase;
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    outline: 3px solid var(--clr-accent);
    outline-style: groove;
    outline-offset: 3px;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
    font-weight: var(--fw-bold);
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    padding: .25em;
    margin-bottom: 1em;
}


/* Intro */

.intro {
    position: relative;
}

.intro__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .intro {
        display: grid;
        width: min-content;
        margin: 0em auto;
        grid-column-gap: 1em;
        grid-template-areas:
        "img title"
        "img subtitle"
        ;
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        max-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        text-align: right;
        grid-row: 2;
        grid-column: -1 / 1;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* My services */

.my-services{
    background-color: var(--clr-dark);
    background-image: url("../img/christopher-gower-m_HRfLhgABo-unsplash@2x.png");
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    font-family: SourceCode;
    font-weight: var(--fw-bold);
    position: relative;
}

.section__title--services:after {
    content: '';
    display: block;
    width: 2em;
    height: 5px;
    background: var(--clr-light);
    /* background: currentColor; */
    margin: .5em auto 1em;
    opacity: .25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 700px;
    margin: 0 auto;
}

.service h3 {
    letter-spacing: .05em;
}

.service p {
    text-align: justify;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

