*,
*::before,
*::after {
    box-sizing: border-box;
}

/* fonts */

@font-face {
    font-family: "Bellota";
    src: url("/fonts/Bellota-Regular.ttf");
}

@font-face {
    font-family: "Gayathri";
    src: url("/fonts/Gayathri-Regular.ttf");
}

@font-face {
    font-family: "LaBelleAurore";
    src: url("/fonts/LaBelleAurore-Regular.ttf");
}

@font-face {
    font-family: "SourceSans";
    src: url("/fonts/SourceSansPro-Regular.ttf");
}

/* Custom properties */
:root {
    --ff-primary: Gayathri, SourceSans;
    --ff-secondary: Bellota, monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #343434;
    --clr-accent: #79084a;

    --fs-h1: 3rem;
    --fs-h2: 2.2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: .25em .25em .75em rgba(0, 0, 0, 0.25),
            .125em .125em .25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px){
    :root {
    --fs-h1: 4.5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
    }
}

/* general styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

.logo__h1 {
    margin: .25em;
    padding: 0;
    font-family: LaBelleAurore;
    font-weight: var(--fw-reg);
}

section {
    padding: 5em 2em;
}

nav {
    display: none;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
    font-weight: var(--fw-bold);
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    color: var(--clr-light);
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    padding: .25em;
    margin-bottom: 1em;
}


/* Intro */

.intro {
    position: relative;
}

.intro__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .intro {
        display: grid;
        width: min-content;
        margin: 0em auto;
        grid-column-gap: 1em;
        grid-template-areas:
        "img title"
        "img subtitle"
        ;
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        max-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        text-align: right;
        grid-row: 2;
        grid-column: -1 / 1;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}
